/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling for TOP-admin-dashboard */

:root {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    --sidebar-bg: #ff0f19;
    --header-bg: #a31000;
    --content-bg: #FFFAD7;
    --menu-text: #FFFCF9;
}

h1 {
    font-size: 40px;
    font-weight: 550;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-bg);
    color: var(--menu-text);
    display: grid;
    grid-template-rows: 1fr 5fr 3fr;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 2rem;
    justify-content: center;
}

.sidebar > ul {
    display: grid;
}

.right-pane {
    display: grid;
    grid-column: 2 / 3;
    grid-template-rows: 1fr 5fr;
    background-color: var(--content-bg);
}

.header {
    background-color: var(--header-bg);
    grid-row: 1 / 2;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 2 / 6;

}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}